{{#each blogInfo}}
  <h3>{{title}}</h3>
  <img class="blogImage" src="{{imageURL}}"/>
  <p>
    {{blogContent}}
  </p>
  <a href="/{{id}}/editPost" class="btn btn-default">Edit</a>
  <a href="/{{id}}/deletePost" class="btn btn-default">Delete</a>
{{/each}}

<!-- Comments Section -->

<h5>Comments</h5>
{{#if comments}}
  {{#each comments}}
    <h6>{{comment_user}}</h6>
    <p>
      {{comment_content}}
    </p>
    <a href="/{{blog_id}}/{{comment_id}}/editComment" class="btn btn-default">Edit</a>
    <a href="/{{blog_id}}/{{comment_id}}/deleteComment" class="btn btn-default">Delete</a>
  {{/each}}
  {{else}}
  <h6>No Comments!</h6>
{{/if}}


<!-- New Comment Form -->
<form class="newComment" action="/{{blog_id}}" method="post">
  <input type="text area" name="comment" placeholder="Enter Comment Here">
  <input type="submit" name="submitComment" value="Submit Comment">
</form>
