<div class="blogs">
  {{#each blogs}}
  <h3 class="blogTitle">{{title}}</h3>
  <h6 class="author">Written By: {{user_fullName}}</h6>
  <img class="blogImage" src="{{imageURL}}"/>
  <p class="content">
    {{snippet}}
  </p>
  <div class="border">
    <a href="/{{blog_id}}" class="read">Read More &gt</a>
  </div>
  {{/each}}
</div>
